@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background-color: #ffebf5;
    border-color: #c586a5;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

select, input, textarea {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}